extends ../layout

block content
  body#bg
  nav
    h1.nav Drug Search
    a.nav(href='/') Home
    |  |  
    a.nav(href='/calc') Calculations
    |  |  
    a.nav(href='/goodrx') GoodRx

  h1 Drug Search
  form(action='/drugsearch' method='post')
    p
      input(type='text' id='search' name='search')
    p
      input(type='submit' name='dsearch' value="Search")
    p Indications And Usage: 
    'https://api.fda.gov/drug/label.json?search=' + search
