extends ../layout

block content
  body#bg
  nav
    h1.nav Drug Search
    a.nav(href='/') Home
    |  |  
    a.nav(href='/calc') Calculations
    |  |  
    a.nav(href='/goodrx') GoodRx

  h1.rxsearch Drug Search
  form.rxsform(action='/drugsearch' method='post')
    p
      input(type='text' id='search' name='search')
    p
      input.searchbut(type='submit' name='dsearch' value="Search")
