extends ../layout

block content
  body#sectier
  nav
    h1.nav Calculations
    a.nav(href='/') Home
    |  |  
    a.nav(href='/drugsearch') Drug Search
    |  |  
    a.nav(href='/goodrx') GoodRx
  
  a#calpg1(href='/ivdrip') IV Drips
  |  
  a#calpg2(href='/dosecalc') Dose Calculations
