extends ../layout

block content
  include ../partials/nav
  
  div.row
    #center.six.columns
      a.hover(href='/ivdrip') IV Drip Calculators
      div.show.on.hover 
        ul
          li.grey Calculate IV Rates
          li.grey IV Infusion Times
    #center.six.columns
      a.hover(href='/dosecalc') Dose Calculators
      div.show.on.hover 
        ul
          li.grey Weight Based Calculator
          li.grey Liquids/Solids Dosage Calculators
