extends ../layout

block content
  include ../partials/nav

  div.row
    div.one.column
      p
    div.five.columns
      h5.grey Weight Based Calculator - mg/kg
      form(action='/dosecalc' method='post')
        table
          tr
            td Dose ordered
            td
              input(type='number' name="wtordered" placeholder="mg" value= wtordered)
          tr
            td Weight
            td
              input(type='number' name='weight' value= weight)
              select(name='wtunit' value= wtunit)
                option(value="kg") kg
                option(value="lb") lbs
          tr
            td
              input(type='submit' name='wtcalc' value="Calculate")
            td
              p.result #{final}

    div.five.columns
      h5.grey Dosage Calculator - Liquids/IV
      form(action='/dosecalc2' method='post')
        table
          tr
            td Dose ordered
            td
              input(type='number' name='liqordered' value= liqordered)
          tr
            td Dose available
            td
              input(type='number' name='liqavailable' value= liqavailable)
          tr
            td Volume available
            td
              input(type='number' name='volume' value= volume)
          tr
            td
              input(type='submit' name='liqcalc' value='Calculate')
            td
              p.result #{liqfinal} 
      
  div.row
    div.six.columns
      p
    div.five.columns
      h5.grey Dosage Calculator - Solids
      form(action='/dosecalc3' method='post')
        table
          tr
            td Dose ordered 
            td
              input(type='number' name='solidord' value= solidord)
          tr
            td Dose available  
            td
              input(type='number' name='solidavail' value= solidavail)
          tr
            td
              input(name='solidcalc' type='submit' value='Calculate')
            td
              p.result #{solidfinal} 
