extends ../layout

block content
  include ../partials/nav
  
  div.row
    div.five.columns
      p
    div.five.columns
      h5.grey IV Rate (mL/hr)
      form(action='/ivdrip' method='post')
        table
          tr
            td Time in Hours
            td
              input(type='radio' name='hours')
          tr
            td Time in Minutes
            td
              input(type='radio' name='minutes')
          tr
            td Time
            td
              input#smallbox(type='number' name='ivtime' value= ivtime)
          tr
            td Volume mL
            td
              input(type='number' name='ivvolume' value= ivvolume)
          tr
            td
              input(type='submit' value='Calculate' name='Calculate')
            td
              p.result #{final}

  div.row
    div.five.columns
      p
    div.five.columns
      h5.grey IV Infusion Time
      form(action='/ivdrip2' method='post')
        table
          tr
            td enter volume
            td
              input#smallbox(type='number' name='ivvol' value= ivvol)
          tr
            td enter ml/hr
            td
              input#smallbox(type='number' name='ivrate' value= ivrate)
          tr
            td
              input(type='submit' value='Calculate')
            td
              p.result #{ivans}
