header
  div.row
    nav
      div.row
        #title.twelve.columns Nurse Brain 2
      div.row
        div.three.columns
          ul
            li
              a(href='/') Home

        div.three.columns
          ul
            li
              a(href='/calc') Calculators
 
        div.three.columns
          ul
            li
              a(href='/goodrx') GoodRx
 
        div.three.columns
          ul
            li
              a(href='/drugsearch') Drug Search
