header
  div.row
    nav
      div.row
        #title.twelve.columns Nurse Brain 2
      |       
      ul
        div.three.columns
          li
            a(href='/') Home
        |         
        div.three.columns
          li
            a(href='/calc') Calculators
        |         
        div.three.columns
          li
            a(href='/goodrx') GoodRx
        |         
        div.three.columns
          li
            a(href='/drugsearch') Drug Search
