extends ../layout

block content
  body#bg
  nav
    h1.nav GoodRx
    a.nav(href='/') Home
    |  |  
    a.nav(href='/calc') Calculations
    |  |  
    a.nav(href='/drugsearch') Drug Search

  h1 hello
