extends layout

block content
  div#homeimg
    img(src='http://i58.tinypic.com/29dzk7s.jpg' alt='NB2 Logo')
  
  div  
    a(href='/calc' id='maincalc') Calculations
  div  
    a(href='/goodrx' id='vertright') GoodRx
  div  
    a(href='/drugsearch' id='vertleft') Drug Search
  div  
    p.med Nurse Brain 2 does not provide medical advice, diagnosis or treatment.
