extends layout

block content
  div#homeimg
    img(src='http://i58.tinypic.com/29dzk7s.jpg' alt='NB2 Logo')
    
  a(href='/calc' id='maincalc') Calculations
  a(href='/goodrx' id='vertright') GoodRx
  a(href='/drugsearch' id='vertleft') Drug Search
