extends layout

block content
  include partials/nav
  
  div.row
    div.five.columns
      p
    div.six.columns
      p.bigger Welcome to Nurse Brain 2, an all-inclusive app designed for nursing professionals. Here you'll be able to find the primary reaction to medications as reported to the FDA, compare medication prices between popular pharmacy chains in the nation, and helpful calculators to find the proper doses on the fly.
      p.bigger This app is currently being used at two hospital emergency rooms in two states. To date, it has not caused death or serious injury.
      p.disclaimer While every effort is made to return correct doses and drug information, this app is not a substitute for common sense and does not provide medical advice, diagnosis, or treatment.
