doctype html
html
  head
    title Nurse Brain 2
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
  body
    block content
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js')
    script(src='/javascript/typeahead.js' type='text/javascript')
    
//put two script src in here for typeahead
//code.jquery.com + twitter.github.io

//put script.js src in drugsearch 
//srcipt(src=.....)

//do document.ready so that it doesn't run before document is ready
